{% extends 'dashboard.html' %}

{% block viewport %}
<form class="viewportForm">
    <div class="viewportRow">
        <label>{{ attributes[0] }}:</label>
        <select name = '{{ attributes[0] }}'>
                {% for p in list1 %}
                    <option value="{{ attributes[0] }}">{{ p['name'] }}</option>
                {% endfor %}
        </select><br>
     </div>
    <div class="viewportRow">
        <label>{{ attributes[1] }}:</label>
        <select name = '{{ attributes[1] }}'>
                {% for i in list2 %}
                    <option value="{{ attributes[1] }}">{{ i['name'] }}</option>
                {% endfor %}
        </select><br>
     </div>
        <input type="submit" id="addButton" name="addButton" value="Add new Row">
</form>
{% endblock %}

{% block content %}
    <h2>Results</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                {% for name in attributes %}
                <th>{{name}}</th>
                {% endfor %}
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in results %}
                <tr>
                    {% for name in names %}
                        <td id="{{entity.get(name)}}">{{entity.get(name)}}</td>
                    {% endfor %}
                    <td>
                        <div class='updateRowContainer'>
                            <button type="button" class="updateRow" data-bs-toggle="modal" data-bs-target="#exampleModal" id="{{entity.ID}}">^</button>
                        </div>
                    </td>
                    <td>
                        <div class='deleteRowContainer'>
                            <input type="submit" class="deleteRow" value="x">
                        </div>
                    </td>
                </tr>
            {% endfor %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update {{title}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body" id ="modal_id">
                                      <form class="viewportForm" method="post">
                                        {% for attr in form_attributes %}
                                        <div class="viewportRow">
                                            <label for="{{attr}}">{{attr}}:</label>
                                            <input class='upd_input' type="text" id="{{attr}}" name="{{attr}}">
                                        </div>
                                        {% endfor %}
                                         <div class="viewportRow">
                                            <label>current Map:</label>
                                            <select name = 'current_map' class = 'upd_input'>
                                                    {% for m in maps %}
                                                        <option value="{{ m['map_id'] }}">{{ m['name'] }}</option>
                                                    {% endfor %}
                                            </select><br>
                                         </div>
                                      </form>
                                      <div class="modal-footer">
                                          <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Update" id="submit_id">
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
            </tbody>
          </table>
        </div>
{% endblock %}