{% extends 'dashboard.html' %}

{% block viewport %}
<form class="viewportForm">
    <div class="viewportRow">
        <label for="mName">Map Name:</label>
        <input type="text" id="mName" name="mName">
    </div>
    <div class="viewportRow">
        <label for="mDesc">Description:</label>
        <input type="text" id="mDesc" name="mDesc">
    </div>
    <div class="viewportRow">
        <label for="mSprite">Sprite:</label>
        <input type="text" id="mSprite" name="mSprite">
    </div>
        <input type="submit" id="addButton" name="addButton" value="Add new Quest">
</form>
{% endblock %}